{% include "header.html" %}
<!--Don't forget your import here-->
{% from 'bootstrap5/form.html' import render_form %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if is_edit: %}
          <h1>Edit place</h1>
          {% else %}
          <h1>Add a new place</h1>
          {% endif %}
          <span class="subheading">collect your favorite place!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <!-- Bootstrap-Flask  -->
       {{ render_form(form, novalidate=True) }}

	  <p class="space-above"><a href=" {{ url_for('show_places') }} ">See all places</a></p>

    </div>
  </div>
</div>

{% endblock %}

{% include "footer.html" %}
