{% extends 'base.html' %}
{% block title %}Coffee and Weather{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">☕️ Coffee </h1>
        <p class="lead">Want to work in a cafe?</p>
        <hr class="my-4">
        <p>You've found the right place! Checkout my collection of cafes with data on power socket availability, wifi speed and coffee quality.</p>
        <a class="btn btn-warning btn-lg" href=" {{ url_for('show_cafes') }}" role="button">Show Me!</a>
    </div>
</div>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Weather </h1>
        <p class="lead">Check the weather?</p>
        <hr class="my-4">
        <form method="post" action="{{ url_for('show_weather') }}">
            <input name="loc" type="text" placeholder="Input the location..." required>
            <button type="submit">Check the wearther!</button>
        </form>
    </div>
</div>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Currency </h1>
        <p class="lead">Check the currency exchange rate?</p>
        <p class="lead">Between Japanese Yen and Hungarian Forint</p>
        <hr class="my-4">
        <form method="post" action="{{ url_for('get_currency') }}">
            <button type="submit">Check the currency exchange rate!</button>
        </form>
    </div>
</div>

{% endblock %}

