{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>All Places</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
	  <table class="table table-light table-striped table-hover">
            <tr>
                <td>Name</td>
                <td>Location</td>
                <td>Open Time</td>
                <td>Close Time</td>
                <td>Rating</td>
                <td>Pricing</td>
                <td>Category</td>
                {% if current_user.id == 1: %}
                <td>Admin Options</td>
                <td></td>
                {% endif %}
            </tr>
          {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
              	<td><a href="{{ place.location_url }}" target="blank">{{ place.location }}</a></td>
                <td>{{ place.open_time }}</td>
                <td>{{ place.close_time }}</td>
                <td>{{ place.rating }}</td>
                <td>{{ place.pricing }}</td>
                <td>{{ place.category }}</td>
                {% if current_user.id == 1: %}
                <td><a href="{{ url_for('edit_place', place_id=place.id) }}">Edit</a></td>
                <td><a href="{{ url_for('delete_place', place_id=place.id) }}">Delete</a></td>
                {% endif %}
            </tr>

          {% endfor %}
  	  </table>

      <p><a href="{{ url_for('collection') }}">Return to Hobby page</a></p>
        {% if current_user.id == 1: %}
        <p><a href="{{ url_for('add_place') }}">Would you like to add a new place?</a></p>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% include "footer.html" %}
