{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/useful_info-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Useful Information</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="container">
        <h2>Currency </h2>
        <p class="lead">Check the currency exchange rate between Japanese Yen and Hungarian Forint</p>
        <form method="post" action="{{ url_for('get_currency') }}">
            <button type="submit">Check the currency exchange rate!</button>
        </form>
        </div>
        <hr class="my-4">
        <div class="container">
        <h2 class="">Weather </h2>
        <p class="lead">Check the weather?</p>
        <form method="post" action="{{ url_for('show_weather') }}">
            <input name="loc" type="text" placeholder="Input the location..." required>
            <button type="submit">Check the wearther!</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
