{% extends 'base.html' %}
{% block title %}Weather{% endblock %}

{% block content %}

<div class="container">
    <h1>Weather</h1>
    <div class="container">
        <h2>Today's weather in {{ loc }}</h2>
        {% if "Error" in weather_data %}
            <p>{{ weather_data }}</p>
        {% else %}
            <p>Temperature: {{ weather_data.temperature }}</p>
            <p>Max Temperature: {{ weather_data.max_temperature }}</p>
            <p>Min Temperature: {{ weather_data.min_temperature }}</p>
            <p>Feels like: {{ weather_data.feel_temperature }}</p>
            <p>Wind Speed: {{ weather_data.wind_speed }}</p>
            <p>Pressure: {{ weather_data.pressure }}</p>
            <p>Humidity: {{ weather_data.humidity }}</p>
            <p>Description: {{ weather_data.description }}</p>
        {% endif %}
    </div>
    <p><a href="{{ url_for('home') }}">Return to index page</a></p>
</div>


{% endblock %}
